input, textarea
  width: 49%
  border-color: whitesmoke !important
  transition: all 0.3s ease
  &:hover
    border-color: lightgrey !important
  &:focus
    border-color: grey !important

.create
  h3
    font-size: 2.6rem
  a
    color: #222
    &:hover
      cursor: pointer
#guestbook-new-entry
  button
    position: absolute
    right: 0px

li.active-tab
  a
    color: #222
    background: white
    font-weight: bold
li:hover
  a
    text-decoration: underline