#iron-router-progress.spinner:before
  border-color: #222

.photo-gallery
  padding: 10px
  text-align: center
  img
    margin: 10px
    max-height: 350px
    max-width: 49%
    opacity: 0.75
    transition: all 0.6s ease
    transform: scale(0.95)
    -webkit-filter: grayscale(100%)
    filter: grayscale(100%)
    &:hover
      margin: 10px
      filter: none
      -webkit-filter: none
      transform: scale(1.1)
      cursor: pointer
      opacity: 1
      -moz-box-shadow: 0 0 5px #888
      -webkit-box-shadow: 0 0 5px #888
      box-shadow: 0 0 5px #888

  @media all and (max-width: 500px)
    img
      min-width: 90%
      max-width: 90%
      &:hover
        margin: 30px 10px

.write-tribute
  .control-label
    display: none
  textarea
    height: 300px
    width: 100%
  input
    margin-left: 51%