<template name="charityselection">
    <div class="container">
        <h3> Would you like to nominate a charity? (Optional)</h3>
        <select name="charityQuery">
            <option value="Children"> Children </option>
            <option value="Elderly"> Elderly </option>
            <option value="Elderly"> Disabilities </option>
            <option value="Elderly"> Education </option>
        </select>
        <button name="searchCharity"> Search </button>
        <span> OR </span>
        <button name="skip"> {{#if noCharity}}Skip and{{/if}} create site </button>
        <hr> {{#each charityList}}
        <div class="five columns">
            <!-- <img src="{{logoUrl}}" alt=""> -->
            <h4>{{name}}</h4>
            <p>{{description}}</p>
            <button name="selectCharity">Choose</button>
            <button>Details</button>
        </div>
        {{/each}}
    </div>
</template>
