<template name="donation">
    <h2>Donations</h2>
    <div class="row">
        <div class="col-md-6">
            <p>In lieu of flowers, charitable donations can be made to {{charity.name}}</p>
            <div id="jg">
            </div>
        </div>
        <div class="col-md-6">
        	<p>Donate to the family</p>
            <form id="checkout" method="post" action="/checkout">
                <div id="dropin"></div>
                <input type="submit" value="Donate $10" style="width:200px;">
            </form>
        </div>
    </div>
    <!-- http://sofii.org/article/in-lieu-of-flowers-how-to-write-lively-memorial-donation-thank-you-letters -->
</template>
