<template name="gallery">
    <h2>Photo Gallery</h2>
    <div class="photo-gallery">
        <img src="/img/smuwkoh1.jpg">
        <img src="/img/smuwkoh2.jpg">
        <img src="/img/smuwkoh3.jpg">
        <img src="/img/smuwkoh4.jpg">
        <img src="/img/smuwkoh5.jpg">
        <img src="/img/smuwkoh6.jpg">
        <img src="/img/smuwkoh7.jpg">
        <img src="/img/smuwkoh8.jpg">
        <img src="/img/smuwkoh9.jpg">
        <img src="/img/smuwkoh10.jpg">
        <img src="/img/smuwkoh11.jpg">
        <img src="/img/smuwkoh12.jpg">
        <img src="/img/smuwkoh13.jpg">
        <img src="/img/smuwkoh14.jpg">
        <img src="/img/smuwkoh15.jpg">
    </div>
</template>