<template name="home">
    <div>
        <div class="cover-container" style="width:50%; position:fixed; top:0; left:0; overflow:hidden;">
            <img src="http://static1.squarespace.com/static/550fd116e4b0f7f604b1267d/55100ea1e4b0e1eb265dc0ef/55101166e4b05c49fa3327da/1427116391978/Slice-1.jpg" alt="">
        </div>
        <div style="width:50%; float:right;">
            <h2>Winston Koh</h2>
            <p>Up comming</p>
            <div class="event-title">
                Wake
            </div>
            <p>30 March (Mon) to 2 April (Tue)
                <br> Location - Block 15, Jurong East Street 82
            </p>
        </div>
    </div>
</template>